/* **index.html** */
/* **General** */

#homePng{
	width: 40px;
	height: 40px;

}
/*header*/
#spodnjaCrta{
	
	border-bottom: 2px;
	border-bottom-width: 2px; 
	border-bottom-style:groove;
	width:100%;
	
}
#div_za_header{
	width: 100%;
	height: 70px;
	margin-top: 10px;
}
#div_za_logo{
	
	width:20%;
	height: 99%;
	float: left;
}
#stil_za_logo{
	float: left;
	margin-right: 400px;
	margin-top: 35px;
}
#div_za_title{
	float: left;
	width: 30%;
	height: 99%;
	margin-right:200px;
	margin-left:150px;
}
#title{
	margin-top: 35px;
	margin-right: 40px;
}
#div_za_prijavo{
	
	float: left;
	width: 190px;
	height: 99%;
	margin-left:50px;
}
#prijava{
	
	cursor: pointer;
	float: left;
	margin-top: 45px;
	width: 110px;
	font-size: 17px;
	
}
#odjava{
	cursor: pointer;
	float:left;
	margin-top:45px;
	width: 68px;
	font-size: 17px;
	
	
}
/*konec header*/

/*telo*/
#div_za_celo_telo{
	width: 100%;
	height: 600px;
	margin-top: 30px;
	margin-bottom: 30px;
}
/*left panel*/
#border_left_panel{
	
	width: 10%;
	height: 600px;
	float: left;
}
#notranji_left_panel{
	
	margin-top:100px;
	width: 40%;
	height: 300px;
	float: left;
}

/* sredinski panel*/
#sredinski_border{
	
	width: 79%;
	height: 600px;
	float: left;
	
}
#sredinski_border_dve{
	
	width: 79%;
	height: 600px;
	float: left;
}

#sredinski_panel_za_predmete{
	
	width: 70%;
	height: 400px;
	margin-top: 100px;
	
}
#sredinski_panel_za_predmete_tri{
	
	width: 70%;
	height: 400px;
	margin-top: 100px;
}
#studij{
	border-style: groove;
	width: 300px;
	height: 150px;
	float:left;
	margin-right:5px;
	background-color: #4682B4;
}
#prijava2{
	border-style: groove;
	width: 300px;
	height: 150px;
	float:left;
	background-color: #3CB371;
}
#koledar{
	border-style: groove;
	width: 300px;
	height: 150px;
	float:left;
	margin-left: 150px;
	margin-top:5px;
	background-color: #FF8C00;
}


#forum_border{
	border-style: groove;
	width: 70%;
	height: 150px;
	margin-top: 10px;
}

#slika_za_forum{
	border-style: groove;
	width: 80%;
	height: 60px;
	margin-top: 10px;
}
#FRI_border{
	border-style: groove;
	width:70%;
	height: 20%;
	margin-top: 30px;
}

/*konec telo*/

/*footer*/
#zgornjaCrta{
	border-top: 2px;
	border-top-width: 2px;
	border-top-style:groove;
	width: 100%;
}
#spodnji_bar{
	margin-right: 30px;
}
/*konec footer*/

/* **konec index.html** */

/* **login** */
#panel_za_login{
	width: 100%;
	height: 500px;
	margin-top: 30px;
	margin-bottom: 30px;
}
#spodnjaCrta_login{
	border-bottom: 2px;
	border-bottom-width: 2px; 
	border-bottom-style:solid;
	border-bottom-color:#3CB371;
	width:100%;
}
#skriti_border_left{
	width: 25%;
	height: 500px;
	float: left;
}
#osrednji_skriti_border{
	width: 50%;
	height: 500px;
	float: left;
}
#login_label{
	font-size: 200%;
	margin-top: 150px;
	color:#3CB371;
}
#username{
	margin-right: 80px;
}
#password{
	margin-right: 77px;
}
.username_password{
	margin-left:5px;
}
#login_button{
	height: 30px;
	width: 100px;
}
#notranji_left_panel_login{
	
	margin-top:160px;
	width: 15%;
	height: 300px;
	float: left;
}
/* **konec login** */

/* **predmet.html** */
#spodnjaCrta_predmet{
	border-bottom-width: 3px;
	border-bottom-style:solid;
	border-color: #4B0082;
	width:100%;	
}
#div_za_celo_telo_predmet{
	width: 100%;
	height: 1500px;
	margin-top: 30px;
	margin-bottom: 30px;
}
/*left panel*/
#border_left_panel_predmet{
	
	width: 10%;
	height: 1500px;
	float: left;
}
#panel_za_opisPredmeta{
	
	width: 70%;
	height: 360px;
	margin-top: 40px;
}
/*sredinski panel*/
#sredinski_border_predmet{
	
	width: 89%;
	height: 1500px;
	float: left;
}
#sredinski_panel_za_predmete_dva{
	
	width: 100%;
	height: 1400px;
	margin-top: 20px;
}
#ime_predmeta{
	margin-top: 60px;
	margin-left:400px;
	color:#4B0082;
}
#opis_predmeta{
	margin-top:50px;
	margin-bottom: -1px;
	font-size: 20px;
	color: #4B0082;
}
#border_za_opis_predmeta{
	
	margin-left:150px;
	height:200px;
	margin-right:200px;
	margin-top:20px;
}
#uredi_opis{
	margin-left: 430px;
	font-size: 20px;
}
#uredi_obveznosti{
	margin-left: 430px;
	font-size: 20px;
}
#uredi_gradivo{
	margin-top:10px;
	font-size: 20px;
	margin-right:120px;
}
#uredi_gradivo1{
	margin-top:10px;
	font-size: 20px;
	margin-right:120px;
}
#gradivo_left_panel{
	
	width:35%;
	height:100%;
	float:left;
}
#gradivo_osrednji_panel{
	
	width:50%;
	height:100%;
	float:left;
}
#pdf_predmet{
	float:left;
	
}
#pdf_predmet_ostalo{
	float:left;
	
}
#predavanje{
	font-size: 20px;
	font-weight:bold;
	float:left;
	margin-top:5px;
	margin-left:10px;
}
#predavanje_dodaj{
	display:none;
	margin-top:30px;
	margin-left:38px;
}
#dodaj{
	display:none;
	margin-top:10px;
	margin-right:150px;
	
}
#naloga_dodaj{
	display:none;
	margin-top:30px;
	margin-left:38px;
}
#submit_naloga{
	display:none;
	margin-top:10px;
	margin-right:150px;
	
	
}
#predavanje_ostalo{
	font-size: 20px;
	font-weight:bold;
	float:left;
	margin-top:5px;
	margin-left:10px;
}
#predavanje1{
	
	height:17%
}


/* **konec predmet** */

/* **nastavitve** */

/*telo*/
#div_za_celo_telo_nastavitve{
	
	width: 100%;
	height: 1200px;
	margin-top: 30px;
	margin-bottom: 30px;
}
#nastavitve_title{
	margin-right:180px;
	font-size: 30px;
}
#spodnjaCrta_nastavitve{
	
	border-bottom: 1px;
	border-bottom-width: 1px; 
	border-style: solid;
	border-color: #9ACD32;
	width: 100%;
}

/*levi panel*/
#border_left_panel_nastavitve{
	
	width: 15%;
	height: 900px;
	float: left;
}
#notranji_left_panel_nastavitve{
	margin-top:100px;
	width: 45px;
	height: 300px;
	float: left;
}
#div_za_nastavitve{
	border-style:groove;
	width: 80%;
	height: 300px;
	float:left;
	margin-top: 50px;
}
#profesorji{
	color:blue;
}
#studentski_svet{
	color:red;
}

#panel_za_navigacijo_nastavitve{
	
	width: 24%;
	height: 300px;
	margin-top: 40px;
	
}
/*sredina*/
#splosno_nastavitve_profil{
	
	margin-top:50px;
	margin-bottom: -1px;
	font-size: 30px;
	color: #9ACD32;
}
#sredinski_border_nastavitve{
	margin-left:5px;
	width: 84%;
	height: 950px;
	float: left;
}
#osrednja_delitev_left{
	
	width: 30%;
	height: 330px;
	float:left;
}
#osrednja_delitev_mid{
	
	float:left;
	width:32%;
	height:330px;
}
#osrednja_delitev_right{
	
	width: 32%;
	height: 340px;
	float:left;
}
#osrednja_delitev_right2{
	
	width: 28%;
	height: 340px;
	float:left;
}
/*Splosno*/

#panel_za_splosno{
	float:right;
	
	width: 50%;
	height: 350px;
}

#prazen_space{
	float:right;
	margin-top:20px;
	width:100px;
	border-style:groove;
	height: 20px;
	visibility:hidden;
}
#ostale{
	float:right;
	font-size:130%;
	margin-top:20px;
	font-weight:bold;
}
#uredi_gumb{
	float:left;
	margin-top:19.5px;
	margin-left:130px;
}
#splosno_inputi{
	float:left;
	margin-top:19.5px;
	margin-left:10px;
	width:90%;
	height:20px;
	font-style: italic;
}

/* slika uporabnika */
#trenutna_slika{
	float:right;
	font-size:130%;
	margin-top:20px;
	font-weight:bold;
}
#nova_slika{
	float:right;
	font-size:130%;
	margin-top:110px;
	margin-bottom:50px;
	font-weight:bold;
}
#osrednja_delitev_slika_uporabnika{
	
	float:left;
	width:40%;
	height:350px;
}
#tre_slika{
	margin-top:30px;
	border-style: groove;
	width: 90px;
	margin-left: 30px;
	height: 90px;
}
#gumb{
	margin-left:30px;
	
}
#splosno_inputi_slika{
	float:left;
	margin-top:33px;
	margin-left:30px;
	width:70%;
	height:20px;
	
}
#tre_slika_predogled{
	float:left;
	
	width: 90px;
	margin-left: 30px;
	height: 90px;
	margin-top: 30px;
}
#predogled_slika{
	width:90px;
	height:90px;
}
/* **Naloga** */
#nastavitve_title_naloge{
	color: #4B0082;
}
#spodnjaCrta_naloga{
	border-bottom-width: 3px;
	border-bottom-style:solid;
	border-color: #4B0082;
	width:100%;	
}
#splosno_nastavitve_naloga{
	margin-top:50px;
	margin-bottom: -1px;
	font-size: 30px;
	color: #4B0082;
}
#sredinski_border_naloga{
	
	width: 74%;
	height: 100%;
	margin-top: 20px;
	margin-left:150px;
}

#oddaja_naloge_block{
	margin-top:60px;
	float:left;
	width: 100%;
	height: 30%;
	
}
#oddaja_naloge_levi{

	float:left;
	width:30%;
	height: 100%;
}
#oddaja_naloge_label{
	float:left;
	font-weight:bold;
}
#oddaja_naloge{
	float:left;
	margin-left:30px;
}
#naloga{
	margin-left: 150px;
}
#div_za_celo_telo_naloge{
	width: 100%;
	height: 750px;
	margin-top: 30px;
	margin-bottom: 30px;
}
/* **HOME2** */
#predmeti{
	border-style: groove;
	width: 300px;
	height: 150px;
	float:left;
	margin-right:5px;
	background-color: #4682B4;
}
#naloge_home{
	border-style: groove;
	width: 375px;
	height: 150px;
	float:left;
	background-color: #006400;
}
#koledar_home{
	border-style: groove;
	width: 230px;
	height: 150px;
	float:left;
	margin-top:5px;
	background-color: #FF8C00;
}
#profil_home{
	border-style: groove;
	width: 200px;
	height: 150px;
	float:left;
	margin-top:5px;
	margin-left:5px;
	background-color: #9ACD32;
}
#ocene_home{
	border-style: groove;
	width: 234px;
	height: 150px;
	float:left;
	margin-top:5px;
	margin-left:5px;
	background-color: #008B8B;
}
/* **Naloge** */
#title_naloge{
	margin-top:40px;
	margin-bottom: -1px;
	font-size: 40px;
	color: #006400;
}
#div_za_celo_telo_naloge{
	
	width: 100%;
	height: 600px;
	margin-top: 30px;
	margin-bottom: 30px;
}
#border_left_panel_naloge{
	
	width: 10%;
	height: 100%;
	float: left;
}
#notranji_sredinski_border_naloge{
	
	width:100%;
	height:90%;
	float:left;
	margin-top: 60px;
}
#sredinski_border_naloge{
	
	width: 90%;
	height: 100%;
	margin-top: 20px;
	margin-left:150px;
}
#border_za_naloge{
	
	margin-top: 30px;
	height:80%;
	
}
#border_za_naloge_left{
	
	width:20%;
	height:100%;
	float:left;
}
#border_za_naloge_sredina{
	
	width:75%;
	height:100%;
	float:left;
}
#naloga_postavitev{
	float:left;
}
#naloge_text{
	font-size: 30px;
	margin-left: 20px;
	float:left;
	margin-top:5px;
	
}
#naloga1{
	height:10%
}
#spodnjaCrta_naloge{
	border-bottom-width: 3px;
	border-bottom-style:solid;
	border-color: #006400;
	width:100%;	
}
/* **predmeti** */
#spodnjaCrta_predmeti{
	border-bottom-width: 3px;
	border-bottom-style:solid;
	border-color: #4682B4;
	width:100%;	
}
#title_predmeti{
	margin-top:40px;
	margin-bottom: -1px;
	font-size: 40px;
	color: #4682B4;
}
#div_za_celo_telo_predmeti{
	
	width: 100%;
	height: 700px;
	margin-top: 30px;
	margin-bottom: 30px;
}
#notranji_sredinski_border_predmeti{
	
	width:98%;
	height:90%;
	float:left;
	margin-top: 60px;
}
#sredinski_border_predmeti{
	
	width: 90%;
	height: 100%;
	margin-top: 20px;
	margin-left:150px;
}
#border_za_predmete{
	
	margin-top: 30px;
	height:80%;
	
}
#border_za_predmete_left{
	
	width:20%;
	height:100%;
	float:left;
}
#border_za_predmete_sredina{
	
	width:75%;
	height:100%;
	float:left;
}
#border_za_smeri1{
	
	height:10%;
	
}
#border_za_smeri2{
	
	height:10%;
}
#border_za_letnike1{
	display:none;
	height:30px;
	float:left;
	width:80%;
	margin-top:10px;
	margin-left:100px;
}
#border_za_letnike2{
	display:none;
	float:left;
	
	height:30px;
	width:80%;
	margin-top:10px;
	margin-left:100px;
}
#border_za_letnike3{
	display:none;
	float:left;
	
	height:30px;
	width:80%;
	margin-top:10px;
	margin-left:100px;
}
#border_za_letnike4{
	display:none;
	float:left;
	height:30px;
	width:80%;
	margin-top:10px;
	margin-left:100px;
}
#border_za_letnike5{
	display:none;
	float:left;
	height:30px;
	width:80%;
	margin-top:10px;
	margin-left:100px;
}
#border_za_letnike6{
	display:none;
	float:left;
	height:30px;
	width:80%;
	margin-top:10px;
	margin-left:100px;
}
#border_za_predmet{
	float:left;
	height:25px;
	width:80%;
	
	margin-left:100px;
}
#tekst_smeri1{
	margin-top:10px;
	font-size: 35px;
	color: #4682B4;
	text-decoration: none;
	float:left;
}
#tekst_smeri2{
	margin-top:10px;
	font-size: 35px;
	color: #4682B4;
	text-decoration: none;
	float:left;
}
#tekst_letnik1{
	display:none;
	text-decoration: none;
	font-size: 25px;
	color: #4682B4;
	float:left;
}
#tekst_letnik2{
	display:none;
	float:left;
	text-decoration: none;
	font-size: 25px;
	color: #4682B4;
	
}
#tekst_letnik3{
	display:none;
	float:left;
	text-decoration: none;
	font-size: 25px;
	color: #4682B4;
	
}
#tekst_letnik4{
	display:none;
	float:left;
	text-decoration: none;
	font-size: 25px;
	color: #4682B4;
	
}
#tekst_letnik5{
	display:none;
	float:left;
	text-decoration: none;
	font-size: 25px;
	color: #4682B4;
	
}
#tekst_letnik6{
	display:none;
	float:left;
	text-decoration: none;
	font-size: 25px;
	color: #4682B4;
	
}
.smer1_prviLetnik{
	margin-top:10px;
	display:none;
	float:left;
	text-decoration: none;
	font-size: 25px;
	color: #4682B4;
}
.smer1_drugiLetnik{
	margin-top:10px;
	display:none;
	float:left;
	text-decoration: none;
	font-size: 25px;
	color: #4682B4;
}
.smer1_tretjiLetnik{
	margin-top:10px;
	display:none;
	float:left;
	text-decoration: none;
	font-size: 25px;
	color: #4682B4;
}
.smer2_prviLetnik{
	margin-top:10px;
	display:none;
	float:left;
	text-decoration: none;
	font-size: 25px;
	color: #4682B4;
}
.smer2_drugiLetnik{
	margin-top:10px;
	display:none;
	float:left;
	text-decoration: none;
	font-size: 25px;
	color: #4682B4;
}
.smer2_tretjiLetnik{
	margin-top:10px;
	display:none;
	float:left;
	text-decoration: none;
	font-size: 25px;
	color: #4682B4;
	
}
.pokazi{
	display:block;
}
/* koledar */
#sredinski_border_koledar{
	
	width:88%;
	height:90%;
	float:left;
	margin-top: 60px;
}
#div_za_celo_telo_koledar{
	
	width: 100%;
	height: 700px;
	margin-top: 30px;
	margin-bottom: 30px;
}
#title_koledar{
	margin-top:40px;
	margin-bottom: -1px;
	font-size: 40px;
	color: #FF8C00;
}
#spodnjaCrta_koledar{
	border-bottom-width: 3px;
	border-bottom-style:solid;
	border-color: #FF8C00;
	width:100%;	
}
#osrednji_border_koledar{
	margin-top:30px;
	width:100%;
	height:60%;
	
}
#osrednji_border_koledar_left{
	width:20%;
	height:100%;
	
	float:left;
}
#osrednji_border_koledar_sredina{
	width:78%;
	height:100%;
	
	float:left;
	
}
#table_koledar{
	margin-left:120px;
	border-color:#FF8C00;
	width:350px;
}
#radio_buttons{
	float:left;
	width:50%;
	margin-left:235px;
	
}

#goLeft{
	width:30px;
	float:left;
	border-style:none;
	background-color:white;
	color:#FF8C00;
	cursor: pointer;
}
#goRight{
	float:right;
	width:30px;
	border-style:none;
	background-color:white;
	color:#FF8C00;
	cursor: pointer;
}

td{
	
	
	display: table-cell;
	height:18px;
}
/* Ocene */
#sredinski_border_ocene{
	
	
	width: 89%;
	height: 700px;
	float: left;
	
}
#notranji_sredinski_border_ocene{
	
	width:98%;
	height:90%;
	float:left;
	margin-top: 60px;
}
#title_ocene{
	margin-top:40px;
	margin-bottom: -1px;
	font-size: 40px;
	color: #008B8B;
	
}
#spodnjaCrta_ocene{
	border-bottom-width: 3px;
	border-bottom-style:solid;
	border-color: #008B8B;
	width:100%;	
	float:left;
}
#sredinski_border_ocene_left{
	
	width:20%;
	height:85%;
	float:left;
}
#sredinski_border_ocene_mid{
	margin-top:20px;
	
	float:left;
	width:78.5%;
	height:80%
}
#label_ocene_predmeti{
	float:left;
	font-size: 30px;
	color:#008B8B;
}

.razsiri_border_predmeta_ocene{
	
	margin-left:70px;
	margin-top:10px;
	float:left;
	width:90%;
	height:270px;
	
}
.border_za_predmete_ocene{
	display:block;
	
	margin-left:70px;
	margin-top:10px;
	float:left;
	width:90%;
	height:30px;
}
#tekst_ocene_predmet{
	float:left;
	margin-top:5px;
	font-size: 20px;
	text-decoration: none;
	color:#008B8B;

}
#labels{
	float:left;
	font-size:20px;
	margin-left:40px;
}
#label_ime_naloge{
	float:left;
	font-size:20px;
	
}
.tabele_ocene{
	display:none;
}
.odkrij_tabele{
	display:block;
	margin-left:170px;
	width:50%;
}
th{
	text-align:center;
	border-spacing:50px;
	color:#008B8B;
	border-bottom-style:solid;
	border-bottom-color:#008B8B;
}
td{
	
	width:130px;
	text-align:center;
	border-bottom-style:groove;
}
#div_za_celo_telo_ocene{
	width: 100%;
	height: 700px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.wrapper{
	display:flex;
	flex-flow:row wrap;
}
.header, .main, .aside, .footer{
	flex: 1 100%;
}
@media all and (max-width:600px){
	.aside{flex: 1 auto;margin-right:10px;width:100px;align:center;}
	.container{height:900px;}
	.odkrij_tabele{
		margin-top:10px;
		margin-left:0;
		width:200px;
	}
	#panel_za_login{
		width:45px;
	}
	#notranji_left_panel_login{
		width:45px;
	}
	#osrednji_skriti_border{
		margin-left:30px;
		width:100px;
	}
	#title{
		margin-top:0px;
	}
	#div_za_title{
		
		margin-left:80px;
		margin-right:0px;
	}
	#div_za_prijavo{
		margin-left:130px;
	}
	
	#notranji_left_panel{
		
		margin-right:0;
		width:45px;
		
	}
	#sredinski_border_ocene{
		
		margin-left:50px;
		margin-right:0px;
		width:240px;
	
	}
	#spodnji_bar{
		
		width:250px;
		margin-left:70px;
	}
	#sredinski_border_predmeti{
		margin-left:80px;
	}
	#notranji_sredinski_border_predmeti{
		
		
		width:300px;
		
	}
	#osrednji_skriti_border{
		
		width:200px;
	}
	#panel_za_login{
		
		width:350px;
		margin-right:0px;
	}
	
	#osrednji_border_koledar_left{
		
		
		width:0px;
	}

	
	#div_za_celo_telo_koledar{
		margin-top:80px;
		
		
		
	}
	#table_koledar{
		width:100px;
		margin-left:0px;
	}
	#radio_buttons{
		margin-left: 80px;
		
	}
	
	
	
	
}
@media all and (max-width:1250px){
	
	#div_za_celo_telo_nastavitve{
		margin-top:80px;
	}
	#div_za_title{
		
		margin-left:30px;
		margin-right:-45px;
		width:400px;
	}
	#border_za_predmete_sredina{
			
			float:left;
			width:500px;
	}
	#notranji_left_panel{
		
		margin-right:0;
		width:45px;
		
	}
	#notranji_sredinski_border_predmeti{
		
		
		width:900px;
		
	}
	#sredinski_border_predmet{
		
		margin-left:10px;
		width:750px;
		height:1500px;
	}
	#border_za_opis_predmeta{
		
		width:100%;
		margin-left:0px;
		height:200px;
	}
	#ime_predmeta{
		margin-left:30%;
	}
	#uredi_obveznosti{
		margin-left:35%;
	}
	#uredi_opis{
		margin-left:35%;
	}
	#predavanje1{
		
		margin-left:65%;
		width:250px;
		
	}
	#gradivo_left_panel{
		width:0;
	}
	#sredinski_border_naloge{
		width:850px;
		
		margin-left:70px;
	}
	#notranji_sredinski_border_naloge{
		
		width:850px;
		margin-left:0px;
	}
	#border_left_panel_naloge{
		
		width:60px;
		
	}
	#sredinski_border_naloga{
		width:850px;
	}
	#sredinski_border_koledar{
		
		width:750px;
	}
	#sredinski_panel_za_predmete{
		width:90%;
		
	}
	#sredinski_border{
		height:650px;
		
	}
	#sredinski_panel_za_predmete_tri{
		width:100%;
	}
	#sredinski_border_dve{
		width:700px;
	}
	#sredinski_border_nastavitve{
		width:680px;
	}
}
@media all and (max-width:850px){
	
	#title{
		margin-top:0px;
		
	}
	#div_za_title{
		
		margin-left:30px;
		
		width:200px;
	}
	#div_za_prijavo{
		margin-left:140px;
		margin-right:0px;
	}
	#title{
		
		margin-right:0px;
		margin-left:0px;
	}
	
	
	.odkrij_tabele{
		margin-top:10px;
		margin-left:100;
		width:200px;
	}
	#notranji_left_panel{
		
		margin-right:0;
		width:45px;
		order:99;
	}
	#border_za_predmete_sredina{
			
			float:left;
			width:200px;
	}
	#sredinski_border_predmeti{
		
		margin-top:90px;
	}
	#border_left_panel_naloge{
		
		
		width:40px;
	}

	#notranji_sredinski_border_predmeti{
		
		
		width:500px;
		
	}
	#border_za_smer1{
		
	}
	#border_za_letnike1{
		
		width:55%;
		float:left;
		margin-left:0;
	}
	#border_za_letnike2{
		
		width:55%;
		float:left;
		margin-left:0;
	}
	#border_za_letnike3{
		width:55%;
		float:left;
		margin-left:0;
	}
	#border_za_letnike4{
		width:55%;
		float:left;
		margin-left:0;
	}
	#border_za_letnike5{
		width:55%;
		float:left;
		margin-left:0;
	}
	#border_za_letnike6{
		width:55%;
		float:left;
		margin-left:0;
	}
	#border_za_predmet{
		
		margin-left:0;
	}
	#sredinski_border_predmeti{
		
		margin-left:60px;
	}
	
	#div_za_celo_telo_predmet{
		
		margin-top:90px;
		width:500px;
		height:1900px;
	}
	#sredinski_border_predmet{
		margin-left:10px;
		width:300px;
		height:1900px;
	}
	#border_za_opis_predmeta{
		
		width:100%;
		margin-left:0px;
		height:300px;
	}
	#ime_predmeta{
		margin-left:0px;
	}
	#uredi_obveznosti{
		margin-left:0;
	}
	#uredi_opis{
		margin-left:0;
	}
	#predavanje1{
		
		margin-left:0;
		width:250px;
		
	}
	#gradivo_left_panel{
		width:0;
	}
	#sredinski_border_naloge{
		margin-top:80px;
		width:450px;
		
		margin-left:70px;
		
	}
	#border_za_naloge_left{
		width:0px;
	}
	#border_za_naloge_sredina{
		
		width:450px;
		
	}
	#naloga1
	#naloge_text{
		font-size: 20px;
	}
	#notranji_sredinski_border_naloge{
		
		width:450px;
		margin-left:0px;
	}
	#border_left_panel_naloge{
		
		width:60px;
		
	}
	#sredinski_border_naloga{
		margin-left:60px;
		margin-top:80px;
		
		width:300px;
		height:800px;
		
	}
	#oddaja_naloge_block{
		margin-top:10px;
		
		height:100px;
		
	}
	#oddaja_naloge{
		margin-left:0px;
	}
	#naloga{
		float:left;
		margin-left:90px;
		margin-top:10px;
		
	}
	#div_za_celo_telo_naloge{
		
			height:900px;
	}
	
	#sredinski_border_koledar{
		
		
		width:300px;
		
	}
	#div_za_celo_telo_koledar{
		margin-top:80px;
		
	}
	#table_koledar{
		margin-left:0px;
	}
	#radio_buttons{
		margin-left: 80px;
		
		width:150px;
	}
	#sredinski_panel_za_predmete{
		width:80%;
		height:650px;
	}
	#prijava2{
		margin-top:5px;
	}
	#koledar{
		margin-left:0px;
	}
	#sredinski_panel_za_predmete_tri{
		width:92%;
		height:650px;
	}
	#div_za_celo_telo{
		margin-top:80px;
		height:900px;
	}
	#sredinski_border_dve{
		width:80%;
		height:650px;
	}
	#predmeti{
		width: 200px;
	}
	#naloge_home{
		margin-top:5px;
		width: 200px;
	}
	#koledar_home{
		width: 200px;
	}
	#profil_home{
		width: 200px;
		margin-left:0px;
	}
	#ocene_home{
		width: 200px;
		margin-left:0px;
	}
	#sredinski_border_nastavitve{
		width:320px;
	}
	#panel_za_splosno{
		
		float:left;
		width:150px;
		margin-right:10px;
	}
	#border_left_panel_nastavitve{
		width:10%;
	}
	
	#osrednja_delitev_mid{
		margin-left:50px;
		float:left;
		width:50%;
	}
	#osrednja_delitev_right2{
		display:none;
		width:20%;
	}
	#osrednja_delitev_right{
		display:none;
		width:20%;
	}
	#osrednja_delitev_slika_uporabnika{
		
		margin-left:50px;
		width:51%;
	}
	#uredi_gumb{
		margin-left:50px;
	}
}

	


